#odometer-container{
    /* font-size: 6em; */
    text-shadow: 0 0 10px #DBDBDB;
}
#introText{
    font-size:2em;
    font-weight:bold;
    border-radius:25%;
    background-color: #DBDBDB44;
    box-shadow: 0 0 10px 20px #DBDBDB44;
    text-shadow: 0 0 40px #DBDBDB;
}
#daysLabel{
    font-size:48px;
    font-weight:bold;
    border-radius:25%;
    box-shadow: inset 0 0 1px 50px #DBDBDB44, 0 0 5px 5px #DBDBDB44;
    text-shadow: 0 0 40px #DBDBDB;
}
html{
    background: url(leaf.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    width:100%;
    font-family: 'Neucha', cursive;
    font-size:22px;

    /* font-family: 'Alegreya SC';font-size: 22px; */
}

.center-div{
    display:table;
    margin: 0 auto;
}
.switcher{
    visibility:hidden;
}


#explanation{
    font-family:"Cherry Swash";
    position:fixed;
    padding:10px;
    left:calc(50% - 100px);
    /* bottom:5%; */
    top:40%;
    background-color:#DBDBDB;
    border: 1px solid black;
    width: 200px;
    max-height:300px;
    font-size:20px;
    text-shadow: 0 0 10px #DBDBDB;
    overflow-y:scroll;
}
#explanation label{
    font-weight: bold;
    font-size:22px;
}
html{
    overflow-x:hidden;
}
img{
    max-width:75px;
    max-height:75px;
}


/* Animation */

@keyframes fadeIn {
    from {opacity:0;}
    to {opacity:.8;}
}

/* The element to apply the animation to */
#bg-container{
    animation-name: fadeIn;
    animation-duration: 4s;
}


#testNumber{
    position:fixed;
    top:20px;
    left:20px;
    display:none;
}