#odometer-container{
    font-size: 8em;
    text-shadow: 0 0 10px #DBDBDB;
}
#introText{
    font-size:2em;
    text-shadow: 0 0 10px #DBDBDB;
}
#daysLabel{
    font-size:48px;
    text-shadow: 0 0 10px #DBDBDB;
}

body{
    width:100%;
    background-color: #DBDBDB;
    font-family: 'Alegreya SC';font-size: 22px;
}

.center-div{
    display:table;
    margin: 0 auto;
}
.switcher{
    visibility:hidden;
}

#bg-container{
    position:fixed;
    z-index:-1;
    width:100%;
    top:-200px;
    left:0;
}
#bg-container img{
    width:100%;
}


#explanation{
    font-family:"Cherry Swash";
    position:fixed;
    padding:10px;
    right:5%;
    top:30%;
    background-color:#DBDBDB;
    border: 1px solid black;
    width: 200px;
    height:300px;
    font-size:20px;
    text-shadow: 0 0 10px #DBDBDB;
    overflow-y:scroll;
}
#explanation label{
    font-weight: bold;
    font-size:22px;
}



/* Animation */

@keyframes fadeIn {
    from {opacity:0;}
    to {opacity:.8;}
}

/* The element to apply the animation to */
#bg-container{
    animation-name: fadeIn;
    animation-duration: 4s;
}