html{
    background-image:url(./background_images/Parchment2.jpg);
    background-size: 100%;
    background-repeat: repeat;
    /* background-attachment: fixed; */
    overscroll-behavior: none;
}
body{
    font-family: "Almendra", serif;
    overscroll-behavior: none;

}
/* 
.bodybg{
    overflow:hidden;
    width: 4000px;
    height: 2000px;

    position: absolute;
    z-index: -2;
    top:-400px;
    left:-400px;
} */

h1{
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    display:flex;
    justify-content: center;
}
h1::selection{
    background: transparent;
}

.container {
    display: flex;
    flex-direction: column;
    user-select: none;
    margin-right:10px;
}
.overallRow{
    width: 100%;
    display: flex;
     gap: 10px;
     position:relative;
}
.categoryContainer{
    width: 8em;
    font-size:1.2em;
    padding: 5px;
}
.itemsRow {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    width: 100%;
    gap: 10px;
}
/* every other row should be shaded */
/* .row:nth-child(odd) {
    background-color: #F5F5F5;
} */
.cell {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */

    opacity: 0.9;

    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    min-width: 0.3vw;
    white-space: pre-wrap;
    /* animate when clicked */
    transition: background-color 1s, transform 1s;


}
.cell::selection{
    background: transparent;
}
.item:active {
    /* background-color: green; */
    transform: scale(2);
    z-index: 100;
}
.category {
    user-select: none;
    font-weight: bold;
    text-align: center;
    background-color: #e9e9e9;
}
.hr {
    border: none;
    border-top: 0.5px solid #ccc;
    margin: -5px -5px -5px -5px;
    padding: 0;
}
.backgroundGrandfather{
    border-radius: 6px;
    height: 100%;
    position: absolute;
    left: -5px;
    right: -5px;
    top: 0;
    z-index: -1;
}
.backgroundFather{
    width:100%;
    height:100%;
    /* background:tan; */
    mask-image: linear-gradient(to right, transparent, black 5px, black calc(100% - 5px), transparent)
}
/* class for a row with an image for a background. tiled */
.background {
    opacity: 30%;
    background-size: 30%;
    background-repeat: repeat;
    height: 100%;
    width: 100%;
    animation: moveBackground1 2000s linear infinite; /* Adjust the duration as needed */
    mask-image: linear-gradient(to bottom, transparent, black 5px, black calc(100% - 5px), transparent)
    
    /* box-shadow: inset white 0px 0px 10px 7px; */

}

.overallRow:nth-child(odd) .background {
    opacity: 50%;
    animation: moveBackground2 2000s linear infinite; /* Adjust the duration as needed */
}
.overallRow:nth-child(odd) .backgroundGrandfather{
    /* filter: drop-shadow(2px 4px 6px black) drop-shadow(-2px -4px 6px white) */
    box-shadow: 2px 4px 6px black, -2px -4px 6px white;
}


@keyframes moveBackground1 {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 1000%; /* Adjust the value based on the size of your image and the effect you want */
    }
  }

  @keyframes moveBackground2 {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -100% -1000%; /* Adjust the value based on the size of your image and the effect you want */
    }
  }

  @keyframes moveBackground3 {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 1000% 100%; /* Adjust the value based on the size of your image and the effect you want */
    }
  }